# 兼容旧配置名
FEISHU_APP_TOKEN=FSoIb78IoaeuPGshId1cLvmAnqf
FEISHU_TABLE_ID=tbllanLz4xkGI3IH
FEISHU_BASE_APP_ID=
FEISHU_BASE_APP_SECRET=

# 推荐新配置名
FEISHU_BITABLE_APP_TOKEN=FSoIb78IoaeuPGshId1cLvmAnqf
FEISHU_BITABLE_TABLE_ID=tbllanLz4xkGI3IH
FEISHU_APP_ID=
FEISHU_APP_SECRET=
